
# Streamlit
streamlit==1.49.0

# Data analysis
pandas
numpy
scikit-learn
matplotlib
seaborn
joblib

# Profiling
ydata-profiling==4.16.1

# Logging / pretty printing
rich==14.1.0


